body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #f5f7fa;
}

/* ENCABEZADO */
.header {
    background: #1b6b19;
    padding: 25px 10px;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

/* OLA SUPERIOR */
.wave {
    width: 100%;
    height: 150px;
    background: #1b6b19;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 90%);
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    text-align: center;
    margin-top: -40px;
}

.titulo {
    font-size: 32px;
    color: #1b6b19;
    margin-bottom: 40px;
}

/* TARJETAS DE ACCESO */
.opciones {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.icono {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    font-weight: bold;
    color: #121312;
}
