/* Configuración del Sistema */
.contenido-principal {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contenido-principal h1 {
    font-size: 24px;
    color: #333333;
}

.contenido-principal .config-options {
    margin-top: 20px;
}

.contenido-principal .config-options button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.contenido-principal .config-options button:hover {
    background-color: #0056b3;
}
