/* Menú Lateral */
.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #1A2C42;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.menu-lateral .logo h2 {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
}

.menu-lateral .menu {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.menu-lateral .menu li {
    padding: 15px 20px;
}

.menu-lateral .menu-item {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.menu-lateral .menu-item i {
    margin-right: 10px;
}

.menu-lateral .menu-item:hover {
    background-color: #007BFF;
    color: #FFFFFF;
}

/* Enlace de Cerrar Sesión */
.menu-lateral .menu-item:last-child {
    margin-top: auto;
    background-color: #FF4C4C;
    color: #FFFFFF;
    border-radius: 4px;
}

.menu-lateral .menu-item:last-child:hover {
    background-color: #E03B3B;
}
